<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/register" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
            <% if(messages.error) {%>
            <span class="text-red-500 text-small"><%= messages.error%></span>
            <% } %>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Name
            </label>
            <input name ="name" value="<%= messages.name%>"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="username">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
              Email
            </label>
            <input name="email" value="<%= messages.email%>"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="email">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
              Phone
            </label>
            <input name="phone" value="<%= messages.phone%>"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="phone" type="text" placeholder="1234567">
          </div>
          <div class="mb-4">

            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Staße
            </label>
            <input name ="straße" value="<%= messages.straße%>"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="Straße" type="text" placeholder="Straße">
          </div>
          <div class="mb-4">

            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Postleitzahl
            </label>
            <input name ="postleitzahl" value="<%= messages.postleitzahl%>"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="Postleitzahl" type="text" placeholder="Postleitzahl">
          </div>
          <div class="mb-4">

            <div class="mb-4">

              <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Stadt
              </label>
              <input name ="stadt" value="<%= messages.stadt%>"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="Stadt" type="text" placeholder="Stadt">
            </div>
            <div class="mb-4">

            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Land
            </label>
            <input name ="land" value="<%= messages.land%>"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="Land" type="text" placeholder="Land">
          </div>
          <div class="mb-4">

            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Firmenname
            </label>
            <input name ="firmenname" value="<%= messages.firmenname%>"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="Firmenname" type="text" placeholder="Firmenname">
          </div>

          <div class="mb-4">

            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              VAT Nummer
            </label>
            <input name ="VAT" value="<%= messages.VAT%>"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="VAT" type="text" placeholder="VAT Nummer">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input name= "password"
             class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text" placeholder="password">
          </div>
          <div class="flex items-center justify-between">
            <button class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
              Register
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/login">
               Already have an Account?
            </a>
          </div>
        </form>
      </div>
</section>