<section class="status py-5">
  <div class="container">
      <div class="status-box mx-auto" style="max-width: 75%;">
          <div class="card shadow-sm">
              <div class="card-header">
                  <h3 class="card-title">Ihre <%= order.lieferType %></h3>
                  <p class="card-subtitle text-muted"><%= order._id %></p>
              </div>
              <div class="card-body">
                  <dl class="row">
                      <dt class="col-sm-3">Full Name</dt>
                      <dd class="col-sm-9"><%= order.name %></dd>

                      <dt class="col-sm-3">Address</dt>
                      <dd class="col-sm-9"><%= order.address %></dd>

                      <dt class="col-sm-3">Telefonnummer</dt>
                      <dd class="col-sm-9"><%= order.phone %></dd>

                      <dt class="col-sm-3">Total</dt>
                      <dd class="col-sm-9"><%= order.totalPrice %></dd>

                      <dt class="col-sm-3">Items</dt>
                      <dd class="col-sm-9">
                          <% for(let pizza of Object.values(order.items)) { %>
                          <div class="card mb-3" style="max-width: 540px;">
                              <div class="row g-0">
                                  <div class="col-md-4">
                                      <img src="https://bahl.fra1.digitaloceanspaces.com<%= pizza.item.image%>.jpg" class="img-fluid rounded-start" alt="<%= pizza.item.name %>">
                                  </div>
                                  <div class="col-md-8">
                                      <div class="card-body">
                                          <h5 class="card-title"><%= pizza.item.name %></h5>
                                          <p class="card-text">Quantity: <%= pizza.qty %></p>
                                          <button class="add-to-cart-button" data-pizza='<%= JSON.stringify(pizza) %>'>
                                            Produkt hinzufügen
                                        </button>
                                        </div>
                                  </div>
                              </div>
                          </div>
                          <% } %>
                      </dd>
                  </dl>
              </div>
          </div>
      </div>
  </div>
</section>


<script>
  function handleSizeClick(element) {
    const productData = JSON.parse(document.querySelector('.add-to-cart-button').getAttribute('data-pizza'));
    

    document.querySelector('.add-to-cart-button').setAttribute('data-pizza', JSON.stringify(productData));
  }
</script>   